@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfd8dc;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_controls {
  width: 30%;
  min-width: 200px;
  height: 7vh;
  margin: auto auto 3% auto;
  border: #37474f;
  border-style: solid;
  border-width: 6px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.page_controls div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #37474f;
  background-color: #ffffff;
}

.page_controls .active-page {
  background-color: #ff3d00;
  color: #ffffff;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-bottom: #ff3d00;
  border-top: #ff3d00;
}

.content_window {
  background-color: #ffffff;
  height: 65vh;
  min-width: 75vw;
  border: #37474f;
  border-style: solid;
  border-width: 6px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  padding: 30 30 10 30;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cards div {
  width: 100px;
  height: 100px;
  background-color: #cfd8dc;
  align-self: center;
  justify-self: center;
}
