@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #cfd8dc;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.page_controls {
  width: 30%;
  min-width: 200px;
  height: 7vh;
  margin: auto auto 3% auto;
  border: #37474f;
  border-style: solid;
  border-width: 6px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.page_controls div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #37474f;
  background-color: #ffffff;
}

.page_controls .active-page {
  background-color: #ff3d00;
  color: #ffffff;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-bottom: #ff3d00;
  border-top: #ff3d00;
}

.content_window {
  background-color: #ffffff;
  height: 65vh;
  min-width: 75vw;
  border: #37474f;
  border-style: solid;
  border-width: 6px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  padding: 30 30 10 30;
  z-index: 1;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 3%;
}

.types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  padding: 5%;
}

.content_window .card {
  position: relative;
  width: 100%;
  height: 140px;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border: #37474f;
  border-style: solid;
  border-width: 3px;
}

.content_window .type {
  position: relative;
  height: 50px;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border: #37474f;
  border-style: solid;
  border-width: 3px;
}

.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #705898;
}
.electric {
  background-color: #f8d030;
}
.bug {
  background-color: #a8b820;
}
.poison {
  background-color: #a040a0;
}
.normal {
  background-color: #a8a878;
}
.fairy {
  background-color: #ee99ac;
}
.fire {
  background-color: #f08030;
}
.grass {
  background-color: #78c850;
}
.water {
  background-color: #6890f0;
}
.ground {
  background-color: #e0c068;
}
.fighting {
  background-color: #c03028;
}
.psychic {
  background-color: #f85888;
}
.ice {
  background-color: #98d8d8;
}
.dragon {
  background-color: #7038f8;
}
.dark {
  background-color: #705746;
}
.steel {
  background-color: #b7b7ce;
}
.flying {
  background-color: #a98ff3;
}

.content_window .card .card-content {
  padding: 10px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s ease;
}

.content_window .card:hover .card-content {
  transform: translateY(0);
  opacity: 1;
}

.card-content h2,
.type h2 {
  color: #ffffff;
  text-shadow: 3px 3px 0 #37474f, -1px -1px 0 #37474f, 1px -1px 0 #37474f,
    -1px 1px 0 #37474f, 1px 1px 0 #37474f;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.active_search {
  opacity: 1;
  pointer-events: all;
}

.search input {
  background: #cfd8dc;
  border-radius: 30px;
  border: none;
  padding: 9px 15px;
  margin-right: 3%;
  width: 90%;
  color: #37474f;
}

.search input:focus {
  outline: none;
}

.previous-page,
.next-page,
.search_btn {
  height: 30px;
  width: 30px;
  background-color: #cfd8dc;
  border-radius: 50%;
  transition: 0.3s ease;
  position: relative;
}

.search_btn {
  background-color: #ff3d00;
}

.search_btn:hover {
  background-color: #ff3c00d0;
}

.previous-page::after,
.next-page::after,
.search_btn::after {
  content: "<";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.search_btn::after {
  content: "GO";
  color: #ffffff;
}

.next-page::after {
  content: ">";
}

.pokeball {
  height: 50px;
  margin: 0 10px;
  transition: 0.5s ease;
}

.pokeball:hover {
  transform: scale(1.1);
}

.previous-page:active,
.next-page:active,
.search_btn:active {
  transform: scale(0.8);
}

.next-page:hover,
.previous-page:hover {
  background-color: #afbabe;
}

.content_window.details-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  padding: 5%;
  text-transform: capitalize;
  color: #37474f;
  height: 100%;
  width: 100%;
}

.content_window.details-content img {
  object-fit: contain;
}

.content_window.details-content h1 {
  margin-bottom: 10%;
}

.content_window.details-content h2 {
  margin: 5% 0;
}

.content_window.details-content li {
  list-style: none;
}

.content_window.details-content .pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content_window .back-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #ff3d00;
  position: absolute;
  top: 5%;
  right: 5%;
  transition: 0.3s ease;
}

.content_window .back-button::after {
  content: "X";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.content_window .back-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 715px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .content_window .card {
    height: 120%;
  }
}
